/* Resetowanie domyślnych styli */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Stylizacja elementów */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #666;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}